@use './variables' as *;

*{
    padding:0;
    margin:0;
}
        
html{
    font-size: $primary-font-size;
    font-family: $primary-font;
    background-color: $very-light-gray;
    box-sizing: content-box;
    @media (min-width: 1024px) {
        font-size: 18px;
     }
    @media (min-width: 1440px) {
        font-size: 20px;
     }
}


.CTAbutton {
    background-color: $bright-red;
    color: $very-light-gray;
    font-family: $primary-font;
    font-weight: 700;
    padding: 0.6em 1.8em 0.6em 1.8em;
    margin: 0 auto;
    border-radius: 2rem;
    border: none;
    -webkit-box-shadow: -25px 5px 48px -9px  $bright-red;
    box-shadow: -25px 5px 48px -9px  $bright-red;
}
