
// PRIMARY COLORS
$bright-red:  hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

//NEUTRAL

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

//FONTS

$primary-font: 'Be Vietnam', sans-serif;
$primary-font-size: 16px;

.CTAbutton {
    background-color: $bright-red;
    color: $very-light-gray;
    font-family: $primary-font;
    font-weight: 700;
    padding: 0.6em 2em 0.6em 2em;
    margin: 0 6.5em 0 6.5em;
    border-radius: 2rem;
    border: none;
}
