@use './util/variables' as *;
@use './util/root' as *;

.blockFooter{
    background-color: $very-dark-blue;
    display: grid;
    width: 100vw;
    .emailUpdates{
        display: grid;
        grid-template-columns: 1fr auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        @media (min-width: 375px) {
            margin-top: 0;
            margin-bottom: 0;
            margin:5vw;
        }
    }
    .emailUpdates__input{
        padding: 0.8rem 0rem 0.8rem 1rem;
        border: none;
        border-radius: 2rem;
        @media (min-width: 375px) {
            padding: 0.8rem 1.5rem 0.8rem 1.2rem;
        }
    }
    .emailUpdates__input::placeholder{
        color: $dark-grayish-blue;
    }
    .emailUpdates__go{
        margin-left: 2px;
        text-transform: uppercase;
        @extend .CTAbutton;
        @media (min-width: 375px) {
            margin-left: 16px;
        }
    }
}

.blockLinks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
    font-weight: 400;
    color: $very-light-gray;
    text-align: justify;
    .blockLinks__linkRight{
        grid-area: right;
        list-style-type: none;
        margin: 0 auto;
        li{
            padding-bottom: 8px;
        }
    }
     
    .blockLinks__linkLeft{
        grid-area: left;
        list-style-type: none;
        margin: 0 auto;
        li{
            padding-bottom: 8px;
        }
    }
}

.blockSocials{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 20%);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    .blockSocials__icon{
        img{
            width: 32px;
        }
    }
}

.blockCopyright{
    text-align: center;
    .blockCopyright__logo{
        padding-bottom: 2.5rem;
    }
    .blockCopyright__copyright{
        font-size: 0.8rem;
        color: $dark-grayish-blue;
        padding-bottom: 2rem;
    }
}