@use './util/variables' as *;
@use './util/root' as *;

.blockFooter{
    background-color: $very-dark-blue;
    display: grid;
    @media (min-width: 1220px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 0.5fr);
        padding: 1rem 3rem 1rem 3rem;
    }
    .emailUpdates{
        display: grid;
        grid-template-columns: 1fr auto;
        margin: 3rem 0 3rem 0;
        @media (min-width: 1220px){
            grid-column-start: 4;
            grid-column-end: 5;
            margin-right: 3rem;
        }
    }
    .emailUpdates__input{
        padding: 1rem 0rem 0.8rem 1.5rem;
        margin-left: 2rem;
        margin-right: 0.5rem;
        border: none;
        border-radius: 2rem;
        @media (min-width: 1220px){
            padding: 1rem 2rem 0.8rem 1.5rem;
        }
    }
    .emailUpdates__input::placeholder{
        color: $dark-grayish-blue;
    }
    .emailUpdates__go{
        text-transform: uppercase;
        margin-right: 0.3rem;
        @extend .CTAbutton;
    }
}

.blockLinks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
    font-weight: 400;
    color: $very-light-gray;
    text-align: justify;
    @media (min-width: 1220px){
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4;
        margin: 4rem 5rem 0 5rem;
    }
    .blockLinks__linkRight{
        grid-area: right;
        list-style-type: none;
        margin: 0 auto;
        li{
            padding-bottom: 8px;
        }
    }
     
    .blockLinks__linkLeft{
        grid-area: left;
        list-style-type: none;
        margin: 0 auto;
        li{
            padding-bottom: 8px;
        }
    }
}

.blockSocials{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 20%);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    @media (min-width: 1220px){
        grid-row-start: 2;
        grid-column-start: 1;
        padding: 0 0 2rem 3.5rem;
    }
    .blockSocials__icon{
        img{
            width: 32px;
        }
        @media (min-width: 1220px){
            margin-left: 1rem;
        }
    }
}

.blockCopyright{
    text-align: center;
    display: grid;
    @media (min-width: 1220px){
        grid-row-start: 1;
        grid-column-start: 1;
    }
    .blockCopyright__logo{
        padding-bottom: 2.5rem;
        @media (min-width: 1220px){
            padding: 4rem 0 3rem 2.5rem;
        }
    }
    .blockCopyright__copyright{
        font-size: 0.8rem;
        color: $dark-grayish-blue;
        padding-bottom: 2rem;
        @media (min-width: 1220px){
            display: none;
        }
    }
}

.blockCopyright__desktop{
    font-size: 0.8rem;
    text-align: right;
    color: $dark-grayish-blue;
    padding-bottom: 2rem;
    margin-right: 1.5rem;
    display: none;
    @media (min-width: 1220px){
        grid-row-start: 2;
        grid-column-start: 4;
        display: block;
    }
}