@use './util/variables' as *;


.blockNavBar{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1.5rem;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
    .blockNavBar__logo{
        display: flex;
        justify-self: flex-start;
        align-self: flex-end;
        width: 6.5rem;
    }
    .blockNavBar__hamMenu{
        display: flex;
        justify-self: flex-end;

    }
    .blockNavBar__list{
        list-style-type: none;
        font-weight: 700;
        color: $very-dark-blue;
        display: none;
    }

    .dropdown{
        position: absolute;
        width: 16rem;
        right: -6rem;
        top: 4rem;
        opacity: 0;
        z-index: 3;
        background: $very-light-gray;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 14rem;
        margin-top: 2rem;
        padding: 2rem;
        transform: translate(-40%);
        transition: opacity .15s ease-out;
        box-shadow: 4px 200px 169px 200px rgba(0,0,0,0.22);
        display: none;
    }
}

.blockNavBar:hover .blockNavBar__hamMenu img{
    content: url(../../images/icon-close.svg);
}

.blockNavBar:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
    display: flex;

}
