@use './util/variables' as *;
@use './util/root' as *;

.blockQuotes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    margin: 1rem 1rem 2.5rem 1rem;
    .blockQuotes__title{
        grid-row-start: 1;
        text-align: center;
        font-size: 2.2rem;
        font-weight: bolder;
        padding-bottom: 6rem;
        color: $very-dark-blue;
    }

    //Dot slider styles
    
    .blockQuotes__navDots{
        /* Center the content */
        align-items: center;
        display: flex;
        justify-content: center;
        /* Reset styles */
        margin: 0 auto;
        margin-bottom: 2rem;
        padding: 0;
        .blockQuotes__navDots-dot{
            /* Rounded border */
            border-radius: 9999px;
            height: 6px;
            width: 6px;
            /* Active dot */
            /* Inactive dot */
            background-color: transparent;
            border: 1px solid $bright-red;
            /* OPTIONAL: Spacing between dots */
            margin: 0 3px;
        }

        //Dot slider
        .blockQuotes__navDots-dot:hover{
            background-color:$bright-red;
        }
        #dotOne:checked  {
            background: $bright-red;
        }
        #dotTwo:checked  {
            background: $bright-red;
        }
        #dotThree:checked  {
            background: $bright-red;
        }
        #dotFour:checked  {
            background: $bright-red;
        }
    }
    .blockQuotes__getStarted{
        @extend .CTAbutton;
    }
}

.blockQuote__slides{
    display: none;
    text-align: center; 
}

.blockQuote{
    background-color: whitesmoke;
    position: relative;
    text-align: center;
    padding:4rem 0.5rem 4rem 0.5rem;
    margin-bottom: 2rem;
    .blockQuote__personAvatar{
        position: absolute;
        top: -1%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 5.5rem;
    }
    .blockQuote__personName{
        font-weight: 700;
        padding-bottom: 1rem;
        color: $very-dark-blue;
    }
    .blockQuote__personQuote{
        color:$dark-grayish-blue;
    }
}

.active, .dot:hover {
    background-color: $bright-red;
}

.translateQuote{
    background-color: red;
}