* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Be Vietnam", sans-serif;
  background-color: #fafafa;
}

.CTAbutton, .blockFooter .emailUpdates__go, .blockSlogan .blockSlogan__getStarted, .blockQuotes .blockQuotes__getStarted, .blockCTA .blockCTA__getStarted {
  background-color: #f25f3a;
  color: #fafafa;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  padding: 0.6em 1.8em 0.6em 1.8em;
  margin: 0 auto;
  border-radius: 2rem;
  border: none;
}

.artBackground {
  background-image: url("../../../images/bg-tablet-pattern.svg"), url("../../../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 56px -120px, 242px 520px;
  background-size: 460px, 300px;
}
@media (min-width: 1024px) {
  .artBackground {
    background-position: 130% -180px, -80% 50%;
    background-size: 820px;
  }
}

.blockNavBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1.5rem;
  margin: 0rem 1.5rem 1.5rem 1.5rem;
}
.blockNavBar .blockNavBar__logo {
  display: flex;
  justify-self: flex-start;
  align-self: flex-end;
  width: 6.5rem;
}
.blockNavBar .blockNavBar__hamMenu {
  display: flex;
  justify-self: flex-end;
}
.blockNavBar .blockNavBar__list {
  list-style-type: none;
  display: none;
}

.blockHero {
  display: grid;
}
.blockHero .blockHero__hero {
  width: 100vw;
}

.blockCTA {
  display: grid;
}
.blockCTA .blockCTA__title {
  font-size: 2.2rem;
  text-align: center;
  color: #242d52;
  line-height: 2.6rem;
  padding-bottom: 1rem;
}
.blockCTA .blockCTA__description {
  text-align: center;
  font-weight: 400;
  color: #9095a7;
  padding: 0rem 2rem 2rem 2rem;
}
.blockCTA .blockCTA__getStarted {
  margin-bottom: 4rem;
}

.blockFunctions {
  display: grid;
}
.blockFunctions .blockFunctions__title {
  text-align: center;
  font-size: 1.8rem;
  color: #242d52;
  padding: 2rem 3.5rem 0.5rem 3.5rem;
}
.blockFunctions .blockFuntions__differentAbout {
  text-align: center;
  font-weight: 400;
  color: #9095a7;
  padding: 1.5rem;
}
.blockFunctions .blockFunctions__function {
  background-color: #ffefeb;
  padding: 0.4rem 0rem 0.4rem 0rem;
  font-size: 1.1em;
  font-weight: 700;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  color: #1d1e25;
  margin-left: 0.8rem;
}
.blockFunctions .blockFunctions__function .blockFunctions__function-number {
  color: #fafafa;
  text-align: inline;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  border-radius: 2rem;
  background-color: #f25f3a;
}
.blockFunctions .blockFunctions__description {
  text-align: left;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.7rem;
  color: #9095a7;
  padding: 0.5rem 3rem 2rem 1rem;
}

.blockQuotes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  margin: 1rem 1rem 2.5rem 1rem;
}
.blockQuotes .blockQuotes__title {
  grid-row-start: 1;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  padding-bottom: 6rem;
  color: #1d1e25;
}
.blockQuotes .blockQuotes__navDots {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
  /* Reset styles */
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0;
}
.blockQuotes .blockQuotes__navDots .blockQuotes__navDots-dot {
  /* Rounded border */
  border-radius: 9999px;
  height: 6px;
  width: 6px;
  /* Active dot */
  /* Inactive dot */
  background-color: transparent;
  border: 1px solid #f25f3a;
  /* OPTIONAL: Spacing between dots */
  margin: 0 3px;
}
.blockQuotes .blockQuotes__navDots .blockQuotes__navDots-dot:hover {
  background-color: #f25f3a;
}
.blockQuotes .blockQuotes__navDots #dotOne:checked {
  background: #f25f3a;
}
.blockQuotes .blockQuotes__navDots #dotTwo:checked {
  background: #f25f3a;
}
.blockQuotes .blockQuotes__navDots #dotThree:checked {
  background: #f25f3a;
}
.blockQuotes .blockQuotes__navDots #dotFour:checked {
  background: #f25f3a;
}
.blockQuote__one {
  display: none;
}

.blockQuote__three {
  display: none;
}

.blockQuote__four {
  display: none;
}

.blockQuote {
  background-color: whitesmoke;
  position: relative;
  text-align: center;
  padding: 4rem 0.5rem 4rem 0.5rem;
  margin-bottom: 2rem;
}
.blockQuote .blockQuote__personAvatar {
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.5rem;
}
.blockQuote .blockQuote__personName {
  font-weight: 700;
  padding-bottom: 1rem;
  color: #1d1e25;
}
.blockQuote .blockQuote__personQuote {
  color: #9095a7;
}

.blockSlogan {
  display: grid;
  background-color: #f25f3a;
  background-image: url(../../images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-position: left;
  color: #fafafa;
  padding: 7rem 2rem 7rem 2rem;
}
.blockSlogan .blockSlogan__main {
  font-size: 2rem;
  text-align: center;
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.blockSlogan .blockSlogan__getStarted {
  background-color: #fafafa;
  color: #f25f3a;
  margin: 0 auto;
}

.blockFooter {
  background-color: #1d1e25;
  display: grid;
}
.blockFooter .emailUpdates {
  display: flex;
  padding: 2.5rem;
  justify-content: space-evenly;
}
.blockFooter .emailUpdates__input {
  padding: 0.8rem 2rem 0.8rem 1.2rem;
  border: none;
  border-radius: 2rem;
}
.blockFooter .emailUpdates__input::placeholder {
  color: #9095a7;
}
.blockFooter .emailUpdates__go {
  margin-left: 10px;
  text-transform: uppercase;
}

.blockLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  font-weight: 400;
  color: #fafafa;
  text-align: justify;
}
.blockLinks .blockLinks__linkRight {
  grid-area: right;
  list-style-type: none;
  margin: 0 auto;
}
.blockLinks .blockLinks__linkRight li {
  padding-bottom: 8px;
}
.blockLinks .blockLinks__linkLeft {
  grid-area: left;
  list-style-type: none;
  margin: 0 auto;
}
.blockLinks .blockLinks__linkLeft li {
  padding-bottom: 8px;
}

.blockSocials {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 20%);
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
.blockSocials .blockSocials__icon img {
  width: 32px;
}

.blockCopyright {
  text-align: center;
}
.blockCopyright .blockCopyright__logo {
  padding-bottom: 2.5rem;
}
.blockCopyright .blockCopyright__copyright {
  font-size: 0.8rem;
  color: #9095a7;
  padding-bottom: 2rem;
}

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
